body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    margin-top: 20px;
}

.form-title {
    text-align: center;
}

#delete-form {
    display: inline;
}